.cntTinDone .IConeDone{
    width: 30px;
    margin-bottom: 8px;
    fill: rgb(3, 213, 3);
    height: 30px;
}
.cntTinDone .IconError{
    width: 30px;
    margin-bottom: 8px;
    fill: rgb(213, 3, 3);
    height: 30px;
}
.cntTinDone .TextoneDone{
    color:  rgb(3, 163, 3);
    font-weight: 600;
}
.cntTinDone .TextoneError {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cntTinDone .TextoneError a{
    margin-left: 10px;
    background-color: rgb(28, 96, 255);
    padding: 5px 10px;
    
    border-radius: 50px;
    color: rgb(255, 255, 255);
}
.cntTinDone .TextoneError{
    color:  rgb(197, 0, 0);
    font-weight: 600;
}
.cntTinDone{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: #fff;
    padding: 20px;
    filter: drop-shadow(0px 0px 10px var(--filter-color));
    border-radius: 5px;
    min-width: 240px;
}